.adminAddProduct{
    width: 85%;
    height: 100%;
    border: 5px solid rgb(90, 141, 31);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.adminAddProduct h2{
    width: 85%;
    height: 5%;
    /* border: 1px solid ; */
    font-size: 1.2vw;
}
.adminAddProduct form{
    width: 90%;
    height: 80%;
    /* border: 1px solid ; */
    padding: 2%;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}
.adminAddProduct form div{
    width: 100%;
    height: 20%;
    /* border: 1px solid ; */
}
.adminAddProduct form .productImage{
    width: 100%;
    height: 20%;
    /* border: 1px solid ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminAddProduct form .productImage .labelImage{
    width: 30%;
    height: 50%;
    /* border: 1px solid ; */
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* margin-left: 5%; */
    /* padding-left: 1%; */
}
.adminAddProduct form .productImage .labelImage input{
    font-size: 1vw;
    width: 80%;
    /* height: 50%; */
    border: 1px solid ;
    border-radius: 5px;
    /* color: black; */
    /* background-color: black; */
}
.adminAddProduct form .productImage .labelImage label{
    font-size: 0.9vw;
}
.adminAddProduct form .productName{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.adminAddProduct form .productName input{
    width: 100%;
    height: 50%;
    padding-left: 2%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(213, 233, 250);
    /* color: bl; */
}

.adminAddProduct .items{
    width: 69%;
    height: 100%;
    /* border: 1px solid ; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly;
    align-items: center; */
    /* gap: 2%; */
}
.adminAddProduct .items .item{
    width: 20%;
    height: 100%;
    /* border: 1px solid ; */
    margin: 0 2.5%;
    /* box-shadow: 0px 0px 1px rgb(151, 93, 93); */
   
}
.adminAddProduct form .demoText{
    width: 99%;
    height: 19%;
    /* border: 1px solid ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.adminAddProduct form .demoText .left{
    width: 50%;
    height: 100%;
    /* border: 1px solid ; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.adminAddProduct form .demoText .left label{
    width: 100%;
    height: 15%;
    font-size: 0.9vw;
    /* border: 1px solid ; */
}
.adminAddProduct form .demoText .left input{
    width: 100%;
    height: 50%;
    padding-left: 4%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(213, 233, 250);

}
.adminAddProduct form .demoText .left .demoText-btns{
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2%;
    /* border: 1px solid; */
}
.adminAddProduct form .demoText .left .demoText-btns button{
    width: 11%;
    height: 100%;
    font-size: 0.6vw;
    border-radius: 5px;
    border: none;
}
.adminAddProduct form .demoText .left .demoText-btns .add{
    background-color: rgb(17, 190, 17);
}
.adminAddProduct form .demoText .left .demoText-btns .add:hover{
    background-color: rgb(16, 177, 16);
}
.adminAddProduct form .demoText .left .demoText-btns .cancel{
    background-color: rgb(206, 155, 14);
}
.adminAddProduct form .demoText .left .demoText-btns .cancel:hover{
    background-color: rgb(187, 141, 14);
}
.adminAddProduct form .demoText .right{
    width: 45%;
    height: 100%;
    /* border: 10px solid green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.adminAddProduct form .demoText .right p{
    width: 100%;
    height: 20%;
    /* border: 1px solid green; */
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.adminAddProduct .btns{
    width: 85%;
    height: 5%;
    /* border: 1px solid ; */
   display: flex;
   justify-content: right;
   gap: 2%;

}
.adminAddProduct .btns button{
    width: 8%;
    height: 100%;
    border-radius: 7px;
    font-size: 0.8vw;
}