
.nav{
    width: 100%;
    /* width: 99vw; */
    height: 10%;
    /* border: 3px solid yellow; */
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.nav-logo{
    width: 4%;
    height: 70%;
    margin-left: 2%;
    /* border: 1px solid white; */
    /* margin-right: 1%; */
    /* background-image: url(../Assests/8303673-removebg-preview.png); */
    background-image: url(../Assests/logo-removebg.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.nav-title{
    font-size: 1vw;
}
.nav-links{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    margin-left: 30%;
    /* font-size: 0.5vw; */
}
.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1vw;
    /* font-size: 120%; */
}
.nav a.red{
    color: rgb(165, 165, 190);
    /* border: 1px solid; */
}
/* .nav a:hover{
    border: 1px solid white;
    width: 7%;
    height: 80%;
} */
/* .nav-cart{
    font-size: 160%;
} */
/* .nav-profile{
    font-size: 160%;
} */




/* Media Queries */

/* Styles for screen sizes up to 1024px */
@media only screen and (max-width: 1024px) {
    .nav-title {
        font-size: 1.5vw;
    }

    .nav a {
        font-size: 1.5vw;
    }
}

/* Styles for screen sizes up to 768px */
@media only screen and (max-width: 768px) {
    .nav-logo {
        width: 6%;
    }

    .nav-title {
        font-size: 2vw;
    }

    .nav-links {
        margin-left: 20%;
    }

    .nav a {
        font-size: 2vw;
    }
}

/* Styles for screen sizes up to 480px */
@media only screen and (max-width: 480px) {
    .nav {
        height: 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 5px solid white; */
    }

    .nav-logo {
        /* width: 19%; */
        background-image: none;
        /* height: 35%; */
        /* margin-left: 5%; */
        /* margin-bottom: 1%; */
        /* border: 5px solid white; */
    }

    .nav-title {
        font-size: 2.5vw;
        /* border: 5px solid white; */
    }

    .nav-links {
        width: 100%;
        margin-left: 0;
        /* flex-direction: column; */
        align-items: center;
        /* border: 5px solid white; */

    }

    .nav a {
        font-size: 3vw;
        margin: 1% 0;
    }
}





